body {
    background-color:#1e1e1e;
}
.top{
    gap: 3rem;
    height: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(15, 15, 15);
    display: flex;
}
.navbar {
    gap: 2rem;
    display: flex;

    justify-content: space-evenly;
    margin: 3rem;
}
.second{
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.top1{
    display: flex;
    /* gap: 3rem; */
    justify-content: space-evenly;
    color: white;
    width: 100%;
    
}
.C1{
padding-left: 100px;
}
.C2{
    padding-right: 10px;
    } 

.cen{
    text-align: center;
}
.top2{
    text-align: center;
    color: aliceblue;
    padding: 5%;
}
img{
    color: aliceblue;
}